$color-primary: #AD7A99;
$color-secondary: #5c2751;
$color-primary-font: #fff;
$color-primary-background: #8E9AAF;
$color-btn-box-shadow: #000;
$color-pop-bright: #98D2EB;
$color-pop-medium: #5CACC4;
