// Color Palette

$color-primary: #ad7a99;
$color-secondary: #5c2751;
$color-primary-font: #fff;
$color-primary-background: #8e9aaf;
$color-btn-box-shadow: #000;
$color-pop-bright: #98d2eb;
$color-pop-medium: #5cacc4;

//  Grid Test

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-hortizontal: 
6rem;
