/* Header */
.logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
}

img.logo {
  height: 13rem;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-pop-medium, 0.8),
      rgba($color-pop-bright, 0.8)
    ),
    url(../img/hero2.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
  /* clip-path: polygon(0 0, 0% 0, 100% 50%, 0 100%) */
  &-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
